<div *ngIf="displayCountries" class="grid">
  <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5">
    <article
      (click)="getCode(country.code)"
      *ngFor="let country of displayCountries"
      class="rounded-3xl"
      [ngClass]="{
        'bg-sky-500 text-white': country.code === selectedCode,
        'hover:bg-sky-500 hover:rounded-3xl shadow-inner shadow-gray-400 bg-slate-50 hover:text-white': country.code !== selectedCode
      }"
    >
      <img class="h-36 w-full rounded-t-3xl" [src]="countryImages[country.code] || 'path/to/default-image.jpg'" [alt]="country.name">
      <div
        class="flex columns-2 p-3 gap-3">
        <div class="flex items-center col-span-1">
          <img
            [src]="'https://flagsapi.com/' + country.code + '/flat/64.png'"
            alt="{{ country.name }} flag"
          />
        </div>
        <ul [ngClass]="{
          'hover:text-white':  country.code !== selectedCode}">
          <li [ngClass]="{
            'text-white': country.code === selectedCode,
            'hover:text-white': country.code !== selectedCode
          }" class="text-sky-500 font-semibold text-2xl">
            {{ country.name }}
          </li>
          <li [ngClass]="{
            'text-white': country.code === selectedCode,
            'hover:text-white': country.code !== selectedCode
          }" class="text-gray-500 text-xl font-semibold">
            {{ country.continent.name }}
          </li>
        </ul>
      </div>
    </article>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [allPages]="allPages"
    (pageChange)="onChangePages($event)"
  />
  <app-off-canvas
    class="absolute"
    [isOpen]="isCanvasOpen"
    (onClose)="closeCanvas()"
    [selectedImage]="selectedImageCountry"
    [code]="code"
  />
</div>