
<nav class="bg-slate-50 grid grid-cols-2 py-4 px-4 rounded-3xl shadow-lg">
  <div class="col-span-1">
    <span>País</span>
    <input
      (input)="sendSearch($event)"
      (click)="openModal()"
      class="bg-transparent w-full outline-none focus:border-b-2 focus:border-b-blue-500"
      type="text"
      placeholder="Escribe el país que deseas ver"
    />
  </div>
  <div class="col-span-1 text-end">
    <button (click)="applyFilters()" class="text-slate-50 bg-blue-500 rounded-3xl px-3 py-1">
      Buscar
    </button>
  </div>
</nav>

<div *ngIf="open" class="fixed grid justify-center items-center bg-slate-50 rounded-3xl shadow-lg p-3 mt-5">
    <div class="grid grid-cols-2 justify-between p-2">
        <span class="text-gray-500 text-lg">Filtrar por continentes</span>
        <span class="text-blue-500 text-end" (click)="clearFilter()">Limpiar</span>
    </div>
    <div>
        <ul class="grid grid-cols-4 gap-4 p-2" *ngIf="continents">
            <li *ngFor="let continent of continents" class="p-2 cursor-pointer" 
            (click)="toggleContinent(continent.name)">
                <img class="h-24 w-full rounded-3xl"
                [class.border-blue-500]="selectedContinents.includes(continent.name)"
                [class.border-2]="selectedContinents.includes(continent.name)" 
                [src]="continentImages[continent.name] || 'path/to/default-image.jpg'" [alt]="continent.name">
                <span class="text-gray-500 text-sm">{{ continent.name }}</span>
            </li>
        </ul>
    </div>
</div>